.loading {
    padding-top: 20%;
    padding-left: 45%;
}

#loader {
    border: 1rem solid white;
    border-radius: 50%;
    border-top: 1rem solid rgb(5, 51, 65);
    width: 5rem;
    height: 5rem;
    animation: spin 1s linear infinite;
    padding: 3rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}